# for development
# pip
# flake8
# black
# isort
# natsort
# pandas
# matplotlib
# jupyterlab
# scikit-learn
# torchinfo

# for deployment
numpy
streamlit==1.19.0
streamlit-webrtc==0.45.0
# streamlit
# streamlit-webrtc
opencv-python-headless
Pillow
labelImg
torch
torchvision
